@model UtahPlanners.MVC3.PropertyService.PictureMetaData

<img src="@Url.Action("GetPicture", "Home", new { id = Model.PictureId })" alt="propertyPic" width="250" /><br />
@Html.CheckBoxFor(m => m.PrimaryPicture)<label>Primary Image</label><br />
@Html.CheckBoxFor(m => m.SecondaryPicture)<label>Secondary Image</label><br />
@Html.CheckBoxFor(m => m.FrontPage)<label>Front Page</label><br />
@Html.CheckBoxFor(m => m.Delete)<label>Delete Picture</label><br />