@model UtahPlanners.MVC3.Models.User.Profile
@{
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

@section Head
{
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
}

<h4>USER DETAILS</h4>
<br />

@using (Html.BeginForm("", "", FormMethod.Post))
{
<div class="profileDetail">
    @Html.LabelFor(m => m.FirstName, "First Name:")
    @Html.TextBoxFor(m => m.FirstName)<br />
    
    @Html.LabelFor(m => m.LastName, "Last Name:")
    @Html.TextBoxFor(m => m.LastName)<br />
    
    @Html.LabelFor(m => m.Username, "User Name:")
    @Html.DisplayTextFor(m => m.Username)
    @Html.HiddenFor(m => m.Username)<br />
    
    @Html.LabelFor(m => m.Email, "Email:")
    @Html.TextBoxFor(m => m.Email)<br />
    
    @Html.LabelFor(m => m.Role, "Role:")
    @Html.DisplayTextFor(m => m.Role)<br />
    
    @Html.LabelFor(m => m.Theme, "Theme:")
    @Html.DropDownListFor(m => m.Theme, Model.Themes)<br />
    
    <label for="Button1">&nbsp;</label>
    <input type="submit" value="Submit" /><br /><br />
</div>
}

@using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions { UpdateTargetId = "changePassword" }))
{
    <div id="changePassword">
    @Html.Partial("_ChangePassword", Model.ChangePassword, new ViewDataDictionary())
    </div>
}

