@{
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

<div style="float:left">
    <h3>Manage Properties</h3>
    @Html.ActionLink("Create New Property", "Property", "Admin")<br />
    @Html.ActionLink("Edit Properties", "PropertyList", "Admin")<br /><br />
    
    <h3>Manage Types</h3>
    @Html.ActionLink("Create New Type", "CreateTypes", "Admin")<br />
    @Html.ActionLink("Edit Types", "ReadTypes", "Admin")<br /><br />
    
    <h3>Manage Codes</h3>
    @Html.ActionLink("Create New Codes", "CreateCodes", "Admin")<br />
    @Html.ActionLink("Edit Codes", "ReadCodes", "Admin")<br /><br />
    
    <h3>Manage Weights</h3>
    @Html.ActionLink("Edit Weight Values", "Weights", "Admin")<br /><br />
    
    <h3>Download Spreadsheet</h3>
    @Html.ActionLink("Property Details.csv", "Csv", "Admin")<br /><br />
    
</div>
<div class="floatright">
<img src="@Url.Action("GetPicture", "Home", new { id = 4503 })" alt="adminPic" />
</div>