@model UtahPlanners.MVC3.Models.Admin.AdminProperty
@{
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

@section Head
{
    <link href="../../Content/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script src="../../Content/uploadify/jquery.uploadify.v2.1.0.min.js" type="text/javascript"></script>
    <script src="../../Content/uploadify/swfobject.js" type="text/javascript"></script>
    <script type="text/javascript">
        // <![CDATA[
        $(document).ready(function () {

            var mainPicture = 0;
            var secondaryPicture = 0;
            var frontPage = 0;

            var auth = '@Request.Cookies[FormsAuthentication.FormsCookieName].Value';
            var ASPSESSID = '@Session.SessionID';

            $("#checkbox1").click(function () {
                mainPicture = (mainPicture == 1) ? 0 : 1;
                $("#fileInput").uploadifySettings('scriptData',
                    { 'mainPicture': mainPicture, 'secondaryPicture': secondaryPicture, 'frontPage': frontPage });
            });
            $("#checkbox2").click(function () {
                secondaryPicture = (secondaryPicture == 1) ? 0 : 1;
                $("#fileInput").uploadifySettings('scriptData',
                { 'mainPicture': mainPicture, 'secondaryPicture': secondaryPicture, 'frontPage': frontPage });
            });
            $("#checkbox3").click(function () {
                frontPage = (frontPage == 1) ? 0 : 1;
                $("#fileInput").uploadifySettings('scriptData',
                { 'mainPicture': mainPicture, 'secondaryPicture': secondaryPicture, 'frontPage': frontPage });
            });


            $('#fileInput').uploadify({
                'uploader': '../../Content/uploadify/uploadify.swf',
                'script': '../../Content/uploadify/Upload.ashx',
                'cancelImg': '../../Content/uploadify/cancel.png',
                'auto': true,
                'folder': '../../Content/uploadify/',
                'scriptData': { ASPSESSID: ASPSESSID, AUTHID: auth }
            });

        });
        // ]]>
    </script>
}

<h2>@ViewBag.Title</h2>
<br />

<h3>Address:</h3>

@using (Html.BeginForm("Property", "Admin", FormMethod.Post))
{
    <div class="propform">
    @Html.HiddenFor(m => m.Property.id)
    
    <span class="newproperty">Street1:</span>
    @Html.TextBoxFor(m => m.Property.Address.street1)<br />

    <span class="newproperty">Street2:</span>
    @Html.TextBoxFor(m => m.Property.Address.street2)<br />

    <span id="ctl00_ContentPlaceHolder1_lblCity" class="newproperty">City:</span>
    @Html.TextBoxFor(m => m.Property.Address.city)<br />

    <span id="ctl00_ContentPlaceHolder1_lblState" class="newproperty">State:</span>
    @Html.TextBoxFor(m => m.Property.Address.state)<br />

    <span id="ctl00_ContentPlaceHolder1_lblZip" class="newproperty">Zip:</span>
    @Html.TextBoxFor(m => m.Property.Address.zip)<br />

    <span id="ctl00_ContentPlaceHolder1_lblCountry" class="newproperty">Country:</span>
    @Html.TextBoxFor(m => m.Property.Address.country)<br /><br />

    <h3>General Attributes:</h3>
    <span id="ctl00_ContentPlaceHolder1_lblDensity" class="newproperty">Density:</span>
    @Html.TextBoxFor(m => m.Property.density)
    <span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator2" style="color:Red;display:none;">Please enter in a numeric value</span>
    <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator2" style="color:Red;display:none;">This is a required field</span><br />

    <span id="ctl00_ContentPlaceHolder1_lblArea" class="newproperty">Area:</span>
    @Html.TextBoxFor(m => m.Property.area)
    <span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator1" style="color:Red;display:none;">Please enter in a numeric value</span>
    <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator3" style="color:Red;display:none;">This is a required field</span><br />

    <span id="ctl00_ContentPlaceHolder1_lblUnits" class="newproperty">Units:</span>
    @Html.TextBoxFor(m => m.Property.units)
    <span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator3" style="color:Red;display:none;">Please enter in a numeric value</span>
    <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator6" style="color:Red;display:none;">This is a required field</span><br />

    <span id="ctl00_ContentPlaceHolder1_lblYearBuilt" class="newproperty">Year Built:</span>
    @Html.TextBoxFor(m => m.Property.yearBuilt)
    <span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator4" style="color:Red;display:none;">Please enter in a numeric value</span>
    <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator1" style="color:Red;display:none;">This is a required field</span><br />

    <span id="ctl00_ContentPlaceHolder1_lblWalkscore" class="newproperty">Walkscore:</span>
    @Html.TextBoxFor(m => m.Property.walkscore)
    <span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator5" style="color:Red;display:none;">Please enter in a numeric value</span>
    <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator5" style="color:Red;display:none;">This is a required field</span><br />

    <span id="ctl00_ContentPlaceHolder1_lbl250sf" class="newproperty">250 Single Fam:</span>
    @Html.TextBoxFor(m => m.Property.twoFiftySingleFam)
    <span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator6" style="color:Red;display:none;">Please enter in a numeric value</span>
    <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator7" style="color:Red;display:none;">This is a required field</span><br />

    <span id="ctl00_ContentPlaceHolder1_lbl250apts" class="newproperty">250 Apartments:</span>
    @Html.TextBoxFor(m => m.Property.twoFiftyApts)
    <span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator7" style="color:Red;display:none;">Please enter in a numeric value</span>
    <span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator8" style="color:Red;display:none;">This is a required field</span><br />

    <span id="ctl00_ContentPlaceHolder1_lblPropertyType" class="newproperty">Property Type:</span>
    @Html.DropDownListFor(m => m.PropertyType, Model.LookupValues.PropertyTypes.ToSelectList("id", "description"))<br />

    <span id="ctl00_ContentPlaceHolder1_lblStreetType" class="newproperty">Street Type:</span>
    @Html.DropDownListFor(m => m.StreetType, Model.LookupValues.StreetTypes.ToSelectList("id", "description"))<br />

    <span id="ctl00_ContentPlaceHolder1_lblSocioEcon" class="newproperty">Socio-Econ:</span>
    @Html.DropDownListFor(m => m.SocioEcon, Model.LookupValues.SocioEconCodes.ToSelectList("id", "description"))<br />

    <span id="ctl00_ContentPlaceHolder1_lblStreetSaftey" class="newproperty">Street Saftey:</span>
    @Html.DropDownListFor(m => m.StreetSafety, Model.LookupValues.StreetSafetyCodes.ToSelectList("id", "description"))<br />

    <span id="ctl00_ContentPlaceHolder1_lblBuildingEnclosure" class="newproperty">Building Enclosure:</span>
    @Html.DropDownListFor(m => m.BuildingEnclosure, Model.LookupValues.EnclosureCodes.ToSelectList("id", "description"))<br />

    <span id="ctl00_ContentPlaceHolder1_lblCommonAreas" class="newproperty">Common Areas:</span>
    @Html.DropDownListFor(m => m.CommonAreas, Model.LookupValues.CommonCodes.ToSelectList("id", "description"))<br />

    <span id="ctl00_ContentPlaceHolder1_lblStreetConn" class="newproperty">Street Connectivity:</span>
    @Html.DropDownListFor(m => m.StreetConnectivity, Model.LookupValues.StreetconnCodes.ToSelectList("id", "description"))<br />
        
    <span id="ctl00_ContentPlaceHolder1_lblStreetWalk" class="newproperty">Street Walkability:</span>
    @Html.DropDownListFor(m => m.StreetWalkability, Model.LookupValues.StreetwalkCodes.ToSelectList("id", "description"))<br />

    <span id="ctl00_ContentPlaceHolder1_lblNeighCond" class="newproperty">Neighborhood Cond:</span>
    @Html.DropDownListFor(m => m.NeighborhoodCondition, Model.LookupValues.NeighborhoodCodes.ToSelectList("id", "description"))<br />

    <span id="ctl00_ContentPlaceHolder1_lblNotes" class="newproperty">Notes:</span>
    @Html.TextAreaFor(m => m.Property.notes, new { style = "height:100px; width:400px;" })<br /><br />

    <h3>Hidden Attributes:</h3>
    <span id="ctl00_ContentPlaceHolder1_lblAdminNotes" class="newproperty">Admin Notes:</span>
    @Html.TextAreaFor(m => m.Property.adminNotes, new { style = "height:100px; width:400px;" })<br />

    <span id="ctl00_ContentPlaceHolder1_lblWalkscoreNotes" class="newproperty">Walkscore Notes:</span>
    @Html.TextAreaFor(m => m.Property.walkscoreNotes, new { style = "height:100px; width:400px;" })<br />

    <span id="ctl00_ContentPlaceHolder1_lblNotFinished" class="newproperty">Not Finished:</span>
    @Html.TextAreaFor(m => m.Property.notFinished, new { style = "height:100px; width:400px;" })<br /><br />

    @if (Model.Property != null)
    {
        <div id="existingPictures">
        <h3>Pictures:</h3>
        <br /><br />
        @Html.EditorFor(m => m.Property.PictureMetaData)
        </div>
        <br />
    }
    
    <div id="newPictures">
    <h3>@ViewBag.NewPictureTitle</h3><br />
    <input type="checkbox" id="checkbox1" /><label for="checkbox1">Primary Image</label><br />
    <input type="checkbox" id="checkbox2" /><label for="checkbox2">Secondary Image</label><br />
    <input type="checkbox" id="checkbox3" /><label for="checkbox3">Front Page</label><br />
    

    <!-- File Upload Control -->
    <input id="fileInput" name="fileInput" type="file" style="display: none;" />
    <div id="fileInputQueue" class="uploadifyQueue"></div>
    <!-- End File Upload Control -->
    </div>

    <br />
    <input type="submit" value="@ViewBag.SubmitText" />
    </div>
}