@using UtahPlanners.MVC3.Models.Admin
@model ReadCodeModel
@{
    ViewBag.Title = "ReadCodes";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="../../Scripts/Custom/utahplanners.lookupvalues.js"></script>
    <script type="text/javascript">
        function updateSuccessful(row) {
            setColumnValues(row, 'description');
            setColumnValues(row, 'weight');
        }
    </script>
}

<span id="result"></span>

@using (Html.BeginForm("ReadCodes", "Admin", FormMethod.Post))
{
    @Html.DropDownListFor(m => m.SelectedCode, Model.CodeEnums)<br /><br />
    <input type="submit" value="Select Different Code" /><br /><br />

    <div>
	    <table cellspacing="0" rules="all" border="1" id="ctl00_ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
		    <thead>
                <tr>
			    <th></th>
                <th></th>
                <th>Description</th>
                <th>Weight</th>
		        </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var kvp in Model.CodeData)
                { 
                    <tr data-key="@kvp.Key">
			        <td>
                    <a href="#" data-command="modify">Edit</a>
                    <a href="#" data-command="submit" style="display: none;">Save</a>
                    </td>

                    <td>
                    <a href="#" data-command="delete">Delete</a>
                    <a href="#" data-command="cancel" style="display: none;">Cancel</a>
                    </td>
                    
                    <td data-column="description">
                    <span>@kvp.Value.Description</span>
                    @*Did this instead of an editor template just to experiment*@
                    <input type="hidden" name="CodeData[@i].Key" value="@kvp.Key" />
                    <input type="text" name="CodeData[@i].Value.Description" value="@kvp.Value.Description" style="display: none;" />
                    </td>
                    
                    <td data-column="weight">
                    <span>@kvp.Value.Weight</span>
                    <input type="text" name="CodeData[@i].Value.Weight" value="@kvp.Value.Weight" style="display: none;" />
                    </td>
		            </tr>
                    i++;
                }
	        </tbody>
        </table>
        @Html.HiddenFor(m => m.SelectedId)
    </div>
}