@using UtahPlanners.MVC3.PropertyService
@model Weights
@{
    ViewBag.Title = "Weights";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}
<style>
    table input { width:80px}
</style>

@section Scripts
{
    <script type="text/javascript" src="../../Scripts/Custom/utahplanners.lookupvalues.js"></script>
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('#editLink').click(function (event) {
                event.preventDefault();
                modifyWeights();
            });
        });

        function modifyWeights() {
            $.ajax({
                url: 'Weights',
                type: 'post',
                data: '',
                success: function (response, status, jqXHR) {
                    $('#result').text(response);
                    // updateSuccessful(row);
                },
                error: function (jqXHR, status, error) {
                    $('#result').text('An error occured while submitting your request');
                },
                complete: function (jqXHR, status, error) {
                    // toggleRow(row);
                }
            });
        }
    </script>*@
}

<span id="result"></span>
<h4>Edit these values to change the weighting of the scoring variables:</h4><br />
<div>
    <table border="1" style="border-collapse:collapse;">
		<tbody>
            <tr align="center" valign="middle">
			    <th>&nbsp;</th>
                <th>Street Walkability</th>
                <th>Walkscore</th>
                <th>250 Single Fam.</th>
                <th>Building Enclosure</th>
                <th>Street Connectivity</th>
                <th>Common Areas</th>
                <th>Street Saftey</th>
                <th>Neighborhood Cond</th>
                <th>250 Apartments</th>
		    </tr>
            <tr align="center" valign="middle" data-key="@Model.Idk__BackingField">
            <td>
            <a href="#" data-command="modify">Edit</a>
            <a href="#" data-command="submit" style="display: none;">Update</a>
            <a href="#" data-command="cancel" style="display: none;">Cancel</a>
            </td>
            @if (Model != null)
            {
                <td>
                <span>@Model.StreetWalkability</span>
                <input type="text" value="@Model.StreetWalkability" style="display:none" />
                </td>
                <td>
                <span>@Model.Walkscore</span>
                <input type="text" value="@Model.Walkscore" style="display:none" />
                </td>
                <td>
                <span>@Model.TwoFiftySingleFamily</span>
                <input type="text" value="@Model.TwoFiftySingleFamily" style="display:none" />
                </td>
                <td>
                <span>@Model.BuildingEnclosure</span>
                <input type="text" value="@Model.BuildingEnclosure" style="display:none" />
                </td>
                <td>
                <span>@Model.StreetConnectivity</span>
                <input type="text" value="@Model.StreetConnectivity" style="display:none" />
                </td>
                <td>
                <span>@Model.CommonAreas</span>
                <input type="text" value="@Model.CommonAreas" style="display:none" />
                </td>
                <td>
                <span>@Model.StreetSafety</span>
                <input type="text" value="@Model.StreetSafety" style="display:none" />
                </td>
                <td>
                <span>@Model.NeighborhoodCondition</span>
                <input type="text" value="@Model.NeighborhoodCondition" style="display:none" />
                </td>
                <td>
                <span>@Model.TwoFiftyApartments</span>
                <input type="text" value="@Model.TwoFiftyApartments" style="display:none" />
                </td>
            }
            else
            {
                <td>
                <span>0</span>
                <input type="text" value="0" style="display:none" />
                </td>
                <td>
                <span>0</span>
                <input type="text" value="0" style="display:none" />
                </td>
                <td>
                <span>0</span>
                <input type="text" value="0" style="display:none" />
                </td>
                <td>
                <span>0</span>
                <input type="text" value="0" style="display:none" />
                </td>
                <td>
                <span>0</span>
                <input type="text" value="0" style="display:none" />
                </td>
                <td>
                <span>0</span>
                <input type="text" value="0" style="display:none" />
                </td>
                <td>
                <span>0</span>
                <input type="text" value="0" style="display:none" />
                </td>
                <td>
                <span>0</span>
                <input type="text" value="0" style="display:none" />
                </td>
                <td>
                <span>0</span>
                <input type="text" value="0" style="display:none" />
                </td>
            }
            </tr>
	    </tbody>
    </table>
</div><br />