@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

<h2 class="trigger"><a href="#">Index Filter</a></h2>
<div class="toggle_container">
<div class="block">

This is a test!

</div>
</div>


<table cellspacing="0" align="center" rules="all" border="1" style="border-collapse:collapse;">
    
    <tr align="center" style="background-color: #CCCCCC; border-style: solid;">
    <th scope="col"><a href="@Url.Sort(IndexColumn.City)">City</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.Id)">Property Number</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.Score)">Overall Score</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.Type)">Type</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.Density)">Density</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.Units)">Units</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.Year)">Year Built</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.StreetType)">Street Type</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.Walkability)">Walkability</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.Walkscore)">Walkscore</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.SocioEcon)">Socio Econ</a></th>
    <th scope="col"><a href="@Url.Sort(IndexColumn.TwoFiftySF)">250 Single Fam</a></th>
    </tr>

    @foreach (UtahPlanners.MVC3.Models.Home.Index prop in Model)
    {
        <tr align="center" valign="middle" style="height: 35px;">
        <td>@Html.ActionLink(prop.City, "Property", new { id = prop.Id })</td>
        <td>@prop.Id</td>
        <td>@prop.Score</td>
        <td>@prop.PropertyType</td>
        <td>@prop.Density</td>
        <td>@prop.Units</td>
        <td>@prop.YearBuilt</td>
        <td>@prop.StreetType</td>
        <td>@prop.StreetWalkDescription</td>
        <td>@prop.Walkscore</td>
        <td>@prop.SocioEconDescription</td>
        <td>@prop.TwoFiftySingleFamily</td>
        </tr>
    }

</table>
