@model Property
@{
    ViewBag.Title = "Property";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

<div id="title">
    <h1>Property #@Model.Id</h1>
    <h2>@(Model.Address.City ?? "Unknown City") - @Model.PropertyType</h2>
</div>
<div id="top">
    <div class="leftpicture">
    <a class="group" rel="group1" href="@Url.Action("GetPicture", new { id = Model.PictureIds.First() })">
        <img class="resize" alt="" src="@Url.Action("GetPicture", new { id = Model.PictureIds.First() })" />
    </a>
    </div>
    <div class="right">
        <h3>Overall Score: @Model.Score</h3>
        <br />
        <br />
        <label class="scoredetail" for="streetsafe">Street Saftey:</label><span id="streetsafe">@Model.StreetSafety</span><br />
        <label class="scoredetail" for="enclosure">Building Enclosure:</label><span id="enclosure">@Model.BuildingEnclosure</span><br />
        <label class="scoredetail" for="common">Common Areas:</label><span id="common">@Model.CommonAreas</span><br />
        <label class="scoredetail" for="streetconn">Street Connectivity:</label><span id="streetconn">@Model.StreetConnectivity</span><br />
        <label class="scoredetail" for="streetwalk">Street Walkability:</label><span id="streetwalk">@Model.StreetWalkability</span><br />
        <label class="scoredetail" for="walkscore">Walkscore:</label><span id="walkscore">@Model.Walkscore</span><br />
        <label class="scoredetail" for="neigh">Neighborhood Condition:</label><span id="neigh">@Model.NeighborhoodCondition</span><br />
        <label class="scoredetail" for="tfsf">250 Single Family:</label><span id="tfsf">@Model.TwoFiftySingleFamily</span><br />
        <label class="scoredetail" for="tfaps">250 Apartments:</label><span id="tfaps">@Model.TwoFiftyApartments</span><br />
        <br /><br />
        <div class="center">
            @for (int i = 0; i < @Model.PictureIds.Count(); i++)
            {
                if (i == 0)
                { 
                    <a class="group" rel="group1" href="@Url.Action("GetPicture", new { id = Model.PictureIds[i] })">Click to view all pictures</a><br />
                }
                else
                { 
                    <a class="group" rel="group1" href="@Url.Action("GetPicture", new { id = Model.PictureIds[i] })" />
                }
            }
            <a href="http://maps.google.com?q=@Model.Address.ToQueryString()&z=19" target="_blank">View in Google maps</a><br />
            <a href="http://www.walkscore.com/get-score.php?street=@Model.Address.ToQueryString()&go=Go" target="_blank">Walkscore index details</a>
        </div>
    </div>
</div>
<div id="bottom">
    <div class="left">
        <h3>Building Details</h3><br />
        <label class="builddetail" for="proptype">Property Type:</label><span id="proptype">@Model.PropertyType</span><br />
        <label class="builddetail" for="addr">Address:</label><span id="addr">@Model.Address.Street</span><br />
        <label class="builddetail" for="addr2">&nbsp;</label><span id="addr2">@Model.Address.City, @Model.Address.State @Model.Address.ZipCode</span><br />
        <label class="builddetail" for="density">Density:</label><span id="density">@Model.Density</span><br />
        <label class="builddetail" for="area">Area:</label><span id="area">@Model.Area</span><br />
        <label class="builddetail" for="units">Units:</label><span id="units">@Model.Units</span><br />
        <label class="builddetail" for="strType">Street Type:</label><span id="strType">@Model.StreetType</span><br />
        <label class="builddetail" for="yearBuilt">Year Built:</label><span id="yearBuilt">@Model.YearBuilt</span><br />
        <label class="builddetail" for="socioEcon">Socio Econ:</label><span id="socioEcon">@Model.SocioEcon</span><br />
        <br />
        <h3>Notes:</h3><br />
        @Model.Notes
    </div>
    <div class="rightpicture">
        <a id="single_image" href="@Url.Action("GetPicture", new { id = Model.SecondaryPictureId })">
            <img class="resize" alt="" src="@Url.Action("GetPicture", new { id = Model.SecondaryPictureId })" />
        </a>
    </div>
</div>

